<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Javascript String</h1>
        <ul>
            <li>Escape Character: digunakan untuk pengkodisian pada string</li>
            <li>Unicode: digunakan untuk merepresentasikan karakter-karakter dari berbagai bahasa</li>
            <li>Template Literals: digunakan untuk membuat string yang lebih mudah dibaca dan dikelola  </li>
            <li>Concatenation: digunakan untuk menggabungkan dua atau lebih string</li>
            <li>length: digunakan untuk mendapatkan panjang dari sebuah string</li>
            <li>typeof: digunakan untuk mengetahui tipe data dari sebuah variabel</li>            
        </ul>
    <h1>Boolean</h1>
      <ul>
          <li>Boolean: tipe data yang hanya memiliki dua nilai, yaitu true atau false</li>
          <li>thruthy: nilai yang dianggap benar dalam konteks boolean</li>        
          <li>falsy: nilai yang dianggap salah dalam konteks boolean</li>          
      </ul>
    <h1>Variable</h1>
      <ul>
          <li>Variable: tempat untuk menyimpan data</li>
          <li>var: digunakan untuk mendeklarasikan variabel yang dapat diubah nilainya</li>
          <li>let: digunakan untuk mendeklarasikan variabel yang dapat diubah nilainya</li>
          <li>const: digunakan untuk mendeklarasikan variabel yang tidak dapat diubah nilainya</li>                    
          <li>shorthand: cara singkat untuk mendeklarasikan variabel </li>
      </ul>
    <h1>Pop Up</h1>
      <ul>
          <li>alert: digunakan untuk menampilkan pesan kepada pengguna</li>
          <li>confirm: digunakan untuk meminta konfirmasi dari pengguna</li>
          <li>prompt: digunakan untuk meminta input dari pengguna</li>
      </ul>
    <h1>Pengkodisian</h1>
    <ul>
        <li>if: digunakan untuk mengeksekusi blok kode jika kondisi terpenuhi</li>
        <li>else: digunakan untuk mengeksekusi blok kode jika kondisi tidak terpenuhi</li>
        <li>else if: digunakan untuk mengeksekusi blok kode jika kondisi sebelumnya tidak terpenuhi</li>
        <li>while: digunakan untuk mengeksekusi blok kode selama kondisi terpenuhi</li>
        <li>for: digunakan untuk mengeksekusi blok kode sebanyak jumlah tertentu </li>
        <li>do...while: digunakan untuk mengeksekusi blok kode setidaknya sekali, kemudian terus mengeksekusi selama kondisi terpenuhi  </li>
        <li>switch: digunakan untuk mengeksekusi blok kode berdasarkan nilai dari sebuah variabel </li>
    </ul>
    <h2>Pages</h2>
    <ul>
        <li><a href="hospital.html">Condition Pages</a></li>        
    </ul>
    <script src="../javascript/index.js"></script>
</body>
</html>